<section class="section" id="login-section">

    <div class="container">
  
      <h1 class="header-title">{{ title }}</h1>
  
      <form #f="ngForm" novalidate (ngSubmit)="login()">
        <div class="form-group">
          <input [(ngModel)]="userLoginModel.email" autofocus type="text" class="login-input" placeholder="email" name="email">
        </div>

        <div class="form-group">
          <input [(ngModel)]="userLoginModel.pin" type="password" class="login-input" placeholder="pin" name="pin">
        </div>

        <div class="form-group" id="remember-me-cont">
            <input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe" id="remember-me-check">
            <label for="remember-me-check">remember me</label>
        </div>

        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>NOT OK!</strong> {{errors}}
        </div>
  
        <button type="submit" class="pol-button margin-top20">
          <div class="pol-button-text-small" id="loginButton">enter</div>
        </button>
      </form>
    
    </div>
  
  </section>