body {
    margin:0px;
    padding:0px;
}
a {
    color: #8f8f8f !important;
    text-decoration: none !important;
}
.section {
	font-family: Kievit;
	text-align: center;
	height: 100%;
	width: 100%;
	margin-top: 0;
}
.container {
    max-width: 400px !important;
    color: #8f8f8f;
}
.margin-top20 {
    margin-top: 20px;
}
.header-title {
    text-align: center;
    font-size: 2em;
    margin-top: 4px;
    font-weight: 800;
	color: #418bca;
    font-size: 1.5em;
}
.pol-button-cont {
    text-align: center;
	padding: 1em 2em;
}
.pol-button.button-red {
    background: #a8150b;
}
.pol-button.button-grey {
    background: #79a3c3;
}
.pol-button {
	position: relative;
	border-radius: 50%;
	width: 50%;
	height: auto;
	padding-top: 50%;
	background: #418bca;
	cursor: pointer;
    border: none;
}
.pol-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: 600 !important;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #fff;
    letter-spacing: .1em;
}
.pol-button-text-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    font-weight: 600 !important;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    color: #fff;
    letter-spacing: .1em;
}
section .login-input {
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 0;
    border: 0px;
    border-color: #fff;
}
#remember-me-cont > * {
    display: inline-block;
    text-align: center;
}
#remember-me-cont > label {
    padding-left: 10px;
    cursor: pointer;
}
#remember-me-check {
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}