<section class="section" id="homepage-section">

  <div class="container">

      <h1 class="header-title">{{ title }}</h1>

      <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>NOT OK!</strong> {{errors}}
      </div>

      <div class="pol-button-cont">
          <div (click)="checkIn()" class="pol-button" [class.button-grey]="status == 0" [class.button-blue]="status == 1" [class.button-red]="status == 2" [class.button-black]="status == 3">
              <div class="pol-button-text">ALIVE</div>
          </div>
      </div>
  
  </div>
  
</section>
